<%= form_for(@procedurex) do |f| %>
  <% if @procedurex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedurex.errors.count, "error") %> prohibited this procedurex from being saved:</h2>

      <ul>
      <% @procedurex.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :astmip %><br />
    <%= f.text_field :astmip %>
  </div>
  <div class="field">
    <%= f.label :subtype %><br />
    <%= f.text_field :subtype %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :testx %><br />
    <%= f.text_field :testx %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
