<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @procedurex.name %>
</p>

<p>
  <b>Astmip:</b>
  <%= @procedurex.astmip %>
</p>

<p>
  <b>Subtype:</b>
  <%= @procedurex.subtype %>
</p>

<p>
  <b>Description:</b>
  <%= @procedurex.description %>
</p>

<p>
  <b>Testx:</b>
 <% if @procedurex.testx !nil? %>
    <%= @procedurex.testx.name %>
  <% else %>
  Unassigned. Please assign this procedure to a test or it will not be viewable
<%end%>
</p>
  <b>Analysis:</b>
  <% if @procedurex.testx !nil? %>
    <% if @procedurex.testx.analysis !nil? %>
      <%= @procedurex.testx.analysis.name %>
    <% end %>
  <% end %> 
<p>
  
</p>


<%= link_to 'Edit', edit_procedurex_path(@procedurex) %> |
<%= link_to 'Back', procedurexes_path %>
