<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1><h3> for <%= @project.client %></h3>
<%= link_to 'Summary', project_path(@project.id.to_s+'/summary') %>
<%= link_to 'Analyses', project_path(@project.id.to_s+'/analyses')%>
<%= link_to 'Equipment', project_path(@project.id.to_s+'/equip')%>
<%= link_to 'Project Details', project_path(@project)%>