<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1><h3> for <%= @project.client %></h3>
<%= link_to 'Summary', 'summary' %>
<%= link_to 'Analyses', 'analyses'%>
<%= link_to 'Equipment', 'equip'%>