<%= render 'tabs1' %>
<h2>Analyses</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Number of Tests</th>
    <th>Status</th>
  </tr>
  <% if @project.analyses.count>0 %>
    <% @project.analyses.each do |an| %>
      <tr>
        <td><%=an.name %></td>
        <td>an.testx.count</td>
        <td>Not available</td>
      </tr>
    <% end %>
  <%else%>
    <tr><td><em>Empty</em></td></tr>
  <%end%>
</table>

<%=form_for(@project) do |f| %>
  <% @analyses.each do |a| %>
    <div class="field">
      <%= check_box_tag "project[analysis_ids][]", a.id, @project.analyses.include?(a)%><br />
      <%= a.name %>
    </div>
  <% end%>
  <%= hidden_field_tag "project[analysis_ids][]", '' %>
  <div class="actions">
    <%=f.submit %>
  </div>
<% end %>
