<%= render 'tabs1' %>
<h2>Analyses</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Tests</th>
    <th>Status</th>
    <th>Uncheck to remove</th>
  </tr>
<%=form_for(@project) do |f| %>  
  <% if @project.analyses.count>0 %>
    <% @project.analyses.each do |an| %>
      <tr>
        <td><%=an.name %></td>
        <td></td>
        <td>Not available</td>
        <td><%= check_box_tag "project[analysis_ids][]", an.id, @project.analyses.include?(an)%><br /></td>
      </tr>
        
            <%@project.testxes.each do |t|%>
              
              <% if t.analysis_id==an.id %>
                <tr>
                  <td></td>
                  <td><%=link_to t.name, project_path(@project.id.to_s+'/select_procedure', :test_id => t.id) %></td>
                  <td></td>
                  <td><%= check_box_tag "project[testx_ids][]", t.id, @project.testxes.include?(t)%></td>
                </tr>
              <% end %>
              <%= hidden_field_tag "project[testx_ids][]", t.id%>
            <%end%>
            <tr>
              <td></td>
              <td colspan="3">
                <select name="project[testx_ids][]">
                  <option value="">Add Test</option>
                  <% if an.testxes.count>0 %>
                    <% an.testxes.each do |t| %>
                      <option value="<%=t.id%>"><%=t.name%></option>            
                    <% end %>
                  <% end %>
                </select>
              </td>
            </tr>

      
        
    <% end %>
  <%else%>
    <tr><td><em>Empty</em></td></tr>
  <%end%>
</table>


  <select name="project[analysis_ids][]">
    <option value="">Add Analysis</option>
    <% @analyses.each do |a| %>
      <option value="<%=a.id%>"><%=a.name%></option>
    <%end%>
  </select>

  <%= hidden_field_tag "project[analysis_ids][]", '' %>

  <div class="actions">
    <%=f.submit %>
  </div>
<% end %>
