<h1>Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th>Location</th>
    <th>Email</th>
    <th>Description</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.client %></td>
    <td><%= project.location %></td>
    <td><%= project.email %></td>
    <td><%= project.description %></td>
    <td><%= project.deadline %></td>
    <td><%= link_to 'Show', project_path(project.id.to_s+'/summary') %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
