<%= render 'tabs1' %>
<h2><%=@test.name %></h1>
<table>
  <tr>
    <th>Standard</th>
    <th>Name</th>
    <th>Subtype</th>
    <th>Description</th>
    <th></th>
  </tr>
  
    <% @test.procedurexes.each do |p| %>
      <tr>
        <td><%=p.astmip%></td>
        <td><%=p.name %></td>
        <td><%=p.subtype %></td>
        <td><%=p.description %></td>
        <td><%=link_to "Select", project_path(@project.id.to_s+'/select_equipment', :proc_id => p.id) %></td>
      </tr> 
    <% end %>
   
</table>
  
  
  
  
  
  
  
  

