<%= render 'tabs1' %>

<h2><%=@procedure.name %></h1>

<%= form_for @project, :url => {:action => 'create_baskets'} do |f| %>

  <% y=0 %>
  
  <%= f.fields_for :baskets do |b| %>

    <hr class="divideline" />
    
    <h4><%=@ingreds[y].equipcat.name+" x"+@ingreds[y].quantity.to_s %></h4>
    <p><em><%=@ingreds[y].notes %></em></p>

    <p>
    Quantity: <%=b.text_field :quantity, :default =>@ingreds[y].quantity %>
    <%=b.hidden_field 'procedurex_id', :value=>@procedure.id %>
    </p>
    <p>Please select one from the following:</p>
    <% @ingreds[y].equipcat.equipment.each do |e| %>
      
      <%=e.name %>
      <%=b.radio_button :equipment_id, e.id %>
      <br />
    <% end %>
    
    <br />
    
    <% y=y+1 %>
    
    <%= b.check_box :_destroy %>
    <%= b.label :_destroy, "Remove from basket" %>
    
  <% end %>  

  <%=f.submit "Add Equipment" %>
  
<% end %>

