<%= render :partial =>'tabs1' %>
<h2>Project Details</h2>
<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline.strftime("%d/%m/%Y") %>
</p>

<h3>Comments</h3>
<%= render @project.comments %>
<%= render "comments/form" %>
<br />
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


