<%= render 'tabs1' %>

<h2>Summary</h2>
<h3>Analyses</h3>
<table>
  <tr>
    <th>Type</th>
    <th>No. Tests</th>
    <th>Status</th>
  </tr>
  <% if @project.analyses.count>0 %>
    <% @project.analyses.each do |an|%>
      <tr>
        <td><%= an.name%></td>
        <td>
          <% x=0 %>
          <% @project.testxes.each do |te| %>
            <% if an.id==te.analysis_id %>
              <% x=x+1 %>
            <% end %>
          <% end %>
          <%=x.to_s %></td>
        <td>Not available</td>
      </tr>
    <% end %>
  <% else %>
    <tr><td><em>Empty</em></td><td></td><td></td></tr>
  <% end %>
</table>

<p><strong>Total Procedures: </strong><%=@totprocs %></p>
<p><strong>Total Equipment: </strong><%=@totequip %></p>
<p><strong>Total Surface Space: </strong><%=@totsize %> square mm</p>
<p><strong>Total Cost: </strong>&pound;<%=@totprice%></p>
