<%= render 'tabs1' %>

<h2>Summary</h2>
<h3>Analyses</h3>
<table>
  <tr>
    <th>Type</th>
    <th>No. Tests</th>
    <th>Status</th>
  </tr>
  <% if @project.analyses.count>0 %>
    <% y=0 %>
    <% @project.analyses.each do |an|%>
    <%y=y+1%>
      <tr>
        <td><%= an.name%></td>
        <td><%=an.testxes.count%></td>
        <td>Not available</td>
      </tr>
    <% end %>
  <% else %>
    <tr><td><em>Empty</em></td><td></td><td></td></tr>
  <% end %>
</table>

<p><strong>Total Procedures: </strong><%=@totprocs %></p>
<p><strong>Total Equipment: </strong><%=@totequip %></p>
<p><strong>Total Surface Space: </strong><%=@totsize %> square mm</p>
<p><strong>Total Cost: </strong>&pound;<%=@totprice%></p>
