<h1>Listing testxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Analysis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testxes.each do |testx| %>
  <tr>
    <td><%= testx.name %></td>
    <td><%= testx.analysis.name %></td>
    <td><%= link_to 'Show', testx %></td>
    <td><%= link_to 'Edit', edit_testx_path(testx) %></td>
    <td><%= link_to 'Destroy', testx, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Testx', new_testx_path %>
