<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testx.name %>
</p>

<p>
  <b>Analysis:</b>
  <% if @testx.analysis !nil? %>
    <%= @testx.analysis.name %>
  <% else %>
    Unassigned. Please assign test to analysis or it will not be viewable
  <%end%>
</p>


<%= link_to 'Edit', edit_testx_path(@testx) %> |
<%= link_to 'Back', testxes_path %>
