<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @testx.name %>
</p>

<p>
  <b>Analysis:</b>
  <%= @testx.analysis.name %>
</p>


<%= link_to 'Edit', edit_testx_path(@testx) %> |
<%= link_to 'Back', testxes_path %>
