<!DOCTYPE html>
<html>
<head>
  <title>Teamlab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "AddedStyling"%>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="outercont">
    <div class="container">
      <div class="header">
        <h1>NuLab</h1>
      </div>
      <div class="breadbar">
        <%=link_to "Projects", projects_path %>
        <%=link_to "Analyses", analyses_path %>
        <%=link_to "Tests", testxes_path %>
        <%=link_to "Procedures", procedurexes_path %>
        <%=link_to "Equipment", :controller => "/equipment", :action => "index" %>
        
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      </div>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <p>Footer</p>
      </div>
    </div>
    
    
  </div>




</body>
</html>
