<!DOCTYPE html>
<html>
<head>
  <title>Teamlab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "AddedStyling"%>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="outercont">
    <div class="container">
      <div class="header">
        <h1>NuLab</h1>
      </div>
      
                  <div id="user_nav">  
      <% if admin_signed_in? %>  
        Signed in as <%= current_admin.email %>  
        <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>  
      <% elsif user_signed_in? %>  
        Signed in as <%= current_user.email %>. Not you?  
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
      <% else %>  
        <%= link_to "Sign up", new_user_registration_path %> or  
        <%= link_to "Sign in", new_user_session_path %> </br>
		or <%= link_to "Sign in as administrator", new_admin_session_path %>
      <% end %>  
    </div>  
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <div class="breadbar">
      <% if admin_signed_in? %>
        <%=link_to "Projects", projects_path %>
        <%=link_to "Analyses", analyses_path %>
        <%=link_to "Tests", testxes_path %>
        <%=link_to "Procedures", procedurexes_path %>
        <%=link_to "Equipment", :controller => "/equipment", :action => "index" %>
      <% else %>
	
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <p>Footer</p>
      </div>
    </div>
    
    
  </div>




</body>
</html>
