<!DOCTYPE html>
<html>
<head>
  <title>NuLab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "AddedStyling"%>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background">
  <div class="outercont">
    <div class="container">
      <div class="header">
        <%=image_tag("image003.jpg")%> 
      </div>
      

      <hr class="divideline" />
      

                  <div id="user_nav">  
      <% if admin_signed_in? %>  
        Signed in as <%= current_admin.email %>  
        <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %> 
      <% elsif user_signed_in? %>  
        Signed in as <%= current_user.email %>. Not you?  
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
      <% else %>  
                <%= link_to "Sign in", new_user_session_path %> </br>
		or <%= link_to "Sign in as administrator", new_admin_session_path %>
      <% end %>  
    </div>  
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<hr class="divideline" />

      <div class="breadbar">
      <% if admin_signed_in? %>
        <%=link_to "Projects", projects_path %>
        <%= link_to "Administration", "/nulab_admin" %>
      <% else %>
      <%=link_to "Projects", projects_path %>
	<% end %>  

      </div>
      
      <hr class="divideline" />
      
      <div class="content">
        <%= yield %>
      </div>
      
      <hr class="divideline" />
      
      <div class="footer">
        <p>Footer</p>
      </div>
    </div>
    
    
  </div>
</div>



</body>
</html>
